.pizza-form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
}
.button-group {
  text-align: center;
  width: 35%;
  margin-top: 30px;
  margin: auto;
}
.counter {
  display: flex;
  flex-direction: row;
}
.hidden {
  display: none;
}
.active {
  background-color: blue;
}
